name: Final Netplay Download
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Create Package
        run: |
          mkdir -p build_files
          cp net_sync.cpp build_files/
          cp input_fix.cpp build_files/
          echo "Netplay files are ready!" > build_files/readme.txt

      - name: Upload Artifact
        uses: actions/upload-artifact@v3
        with:
          name: MAME-Netplay-Package
          path: build_files/
