name: Build MAME 0.139u1 Netplay
on: [push]

jobs:
  build:
    runs-on: windows-2019
    steps:
      - name: Checkout your files
        uses: actions/checkout@v4

      - name: Download MAME 0.139u1 Source
        shell: powershell
        run: |
          $url = "https://github.com/mame-dev/mame/archive/refs/tags/mame0139u1.zip"
          Invoke-WebRequest -Uri $url -OutFile "source.zip"
          Expand-Archive -Path "source.zip" -DestinationPath "mame-src"

      - name: Replace Files for Netplay
        shell: powershell
        run: |
          # آپ کی ان 2 فائلوں کو صحیح فولڈر میں ڈالنا
          Copy-Item "input_fix.cpp" -Destination "mame-src/mame-mame0139u1/src/osd/windows/" -Force
          Copy-Item "net_sync.cpp" -Destination "mame-src/mame-mame0139u1/src/osd/windows/" -Force

      - name: Final Package Download
        uses: actions/upload-artifact@v4
        with:
          name: MAME-0139u1-Netplay-Source
          path: mame-src/
