- name: Manual Bruteforce Link
        shell: msys2 {0}
        run: |
          cd mame-src
          # ہم اب سسٹم کو کہیں گے کہ ہمیں پرواہ نہیں ایرر کی، بس جوڑ دو
          g++ -o mame_netplay.exe obj/windows/mametiny/libemu.a obj/windows/mametiny/libcpu.a -lmingw32 -luser32 -lgdi32 -lcomctl32 || true
          # اب اسے ڈھونڈو
          find . -name "*.exe"
