name: Build MAME 0.139u1 Netplay
on: [push]

jobs:
  build:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v3

      - name: Setup Compiler
        uses: msys2/setup-msys2@v2
        with:
          install: mingw-w64-x86_64-gcc mingw-w64-x86_64-make zip

      - name: Download MAME 0139 Source
        shell: msys2 {0}
        run: |
          curl -L -o mame0139.zip https://github.com/mamedev/mame/archive/refs/tags/mame0139.zip
          unzip -q mame0139.zip
          mv mame-mame0139 source

      - name: Inject Multiplayer Code
        shell: msys2 {0}
        run: |
          cp net_sync.cpp source/src/osd/windows/
          cp input_fix.cpp source/src/emu/
          echo "Netplay files injected for 4-player support!"

      - name: Compile MAME (This takes time)
        shell: msys2 {0}
        run: |
          cd source
          make -j2

      - name: Upload Final EXE
        uses: actions/upload-artifact@v3
        with:
          name: MAME-0.139u1-Netplay-EXE
          path: source/*.exe
