name: Quick Netplay Build
on: [push]

jobs:
  build:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v3

      - name: Build Connection Tool
        run: |
          echo "Starting Quick Build..."
          g++ net_sync.cpp input_fix.cpp -o Netplay_Linker.exe
          echo "Done!"

      - name: Upload File
        uses: actions/upload-artifact@v3
        with:
          name: Mobile-PC-Linker
          path: ./*.exe
